@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;1,100&display=swap');

.mainTitle {
    font-family: 'Azeret Mono', monospace;
    font-weight: 400;
    text-align: center;
}

.secondaryTitle {
    font-family: 'Azeret Mono', monospace;
    font-weight: 100;
    text-align: center;
}